@mixin text-hide {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin mask-box($w, $h) {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  width: $w;
  height: $h;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}

@mixin abs-pos($x, $y) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX($x) translateY($y);
}

@mixin blur-color($size, $color) {
  border-radius: 100%;
  background-color: $color;
  filter: blur($size);
}

@mixin background-image($img-path, $w, $h) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($img-path);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 0;
}
