/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixin';

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  display: block;
  overflow-x: hidden;
  font-family: $font-family;
}

a {
  text-decoration: none;
}
